<!--The content below is only a placeholder and can be replaced.-->
<br>
<div *ngFor="let level of levels">
  <div class="container-fluid">
    <div class="row">
      <div class="col"></div>
      <div class="col-5" style="text-align:center"><h1>{{ title }}</h1></div>
      <div class="col">
        <button (click)="addRight(level.id)" type="button" class="btn btn-outline-success">
          <span class="oi oi-plus"></span>
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col" *ngFor="let container of level.containers">

        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-outline-danger" aria-label="Close"
               (click)="closeContainer(level.id, container.id)"
               *ngIf="totalAmountOfContainers > 1">
                <span class="oi oi-x"></span>
              </button>
            </div>
            <app-bible-container></app-bible-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


